{
  "openapi": "3.0.3",
  "info": {
    "title": "LogoKit Logo API",
    "version": "1.0.0",
    "description": "The LogoKit Logo API allows you to retrieve company logos by domain, providing high-quality PNG images via hotlinking. Supports fallback options and attribution for free users."
  },
  "paths": {
    "/{domain}": {
      "get": {
        "servers": [
          {
            "url": "https://img.logokit.com",
            "description": "Image API server"
          }
        ],
        "summary": "Retrieve logo by domain",
        "description": "Returns the logo for the specified domain as a PNG image. Free users: 64x64px. Paid users: 128x128px. Caching or local storage of images is not supported.",
        "operationId": "getLogoDomain",
        "parameters": [
          {
            "name": "domain",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "apple.com"
            },
            "description": "The domain for which to retrieve the logo."
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "<publishable-api-token>",
              "default": "YOUR-API-TOKEN"
            },
            "description": "Publishable API token for authentication. You can find yours in [account settings](https://logokit.com/account/api-tokens)."
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "enum": [64, 128, 256],
              "default": null
            },
            "description": "Size of the logo to return. Allowed values are 64, 128, or 256. Default is 64px for free users, 128px for paid users. Set to 256px for high-resolution logos (paid users only)."
          },
          {
            "name": "fallback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["monogram", "404"],
              "default": "monogram"
            },
            "example": "monogram",
            "description": "Fallback behavior if the logo is not available. 'monogram': Returns a monogram image from the first letter of the domain (default). '404': Returns a 404 HTTP error."
          }
        ],
        "responses": {
          "200": {
            "description": "Logo image found and returned as PNG.",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Logo not found (only if `fallback=404` is used)."
          },
          "401": {
            "description": "Invalid or missing API token."
          },
          "429": {
            "description": "Rate limit exceeded."
          }
        },
        "tags": ["Logo API"]
      }
    },
    "/ticker/{symbol}": {
      "get": {
        "servers": [
          {
            "url": "https://img.logokit.com",
            "description": "Image API server"
          }
        ],
        "summary": "Retrieve logo by stock ticker symbol",
        "description": "Returns the logo for the specified stock ticker as a PNG image. Free users: 64x64px. Paid users: 128x128px. Caching or local storage of images is not supported.",
        "operationId": "getLogoTicker",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "AAPL"
            },
            "description": "The stock ticker symbol for which to retrieve the logo. For example, AAPL. We support all major stock exchanges worldwide, including NYSE, NASDAQ, TSE, LSE, SZSE, Euronext, Deutsche Boerse and more."
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "<publishable-api-token>",
              "default": "YOUR-API-TOKEN"
            },
            "description": "Publishable API token for authentication. You can find yours in [account settings](https://logokit.com/account/api-tokens)."
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "enum": [64, 128, 256],
              "default": null
            },
            "description": "Size of the logo to return. Allowed values are 64, 128, or 256. Default is 64px for free users, 128px for paid users. Set to 256px for high-resolution logos (paid users only)."
          },
          {
            "name": "fallback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["monogram", "404"],
              "default": "monogram"
            },
            "example": "monogram",
            "description": "Fallback behavior if the logo is not available. 'monogram': Returns a monogram image from the first letter of the symbol (default). '404': Returns a 404 HTTP error."
          }
        ],
        "responses": {
          "200": {
            "description": "Logo image found and returned as PNG.",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Logo not found (only if `fallback=404` is used)."
          },
          "401": {
            "description": "Invalid or missing API token."
          },
          "429": {
            "description": "Rate limit exceeded."
          }
        },
        "tags": ["Stock Logo API"]
      }
    },
    "/crypto/{symbol}": {
      "get": {
        "servers": [
          {
            "url": "https://img.logokit.com",
            "description": "Image API server"
          }
        ],
        "summary": "Retrieve logo by cryptocurrency symbol",
        "description": "Returns the logo for the specified cryptocurrency as a PNG image. Free users: 64x64px. Paid users: 128x128px. Caching or local storage of images is not supported.",
        "operationId": "getLogoCrypto",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "BTC"
            },
            "description": "The cryptocurrency symbol for which to retrieve the logo. For example, BTC for Bitcoin or ETH for Ethereum. We support over 12,000 cryptocurrencies."
          },
          {
            "name": "token",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "example": "<publishable-api-token>",
              "default": "YOUR-API-TOKEN"
            },
            "description": "Publishable API token for authentication. You can find yours in [account settings](https://logokit.com/account/api-tokens)."
          },
          {
            "name": "size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "enum": [64, 128, 256],
              "default": null
            },
            "description": "Size of the logo to return. Allowed values are 64, 128, or 256. Default is 64px for free users, 128px for paid users. Set to 256px for high-resolution logos (paid users only)."
          },
          {
            "name": "fallback",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["monogram", "404"],
              "default": "monogram"
            },
            "example": "monogram",
            "description": "Fallback behavior if the logo is not available. 'monogram': Returns a monogram image from the first letter of the symbol (default). '404': Returns a 404 HTTP error."
          }
        ],
        "responses": {
          "200": {
            "description": "Logo image found and returned as PNG.",
            "content": {
              "image/png": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Logo not found (only if `fallback=404` is used)."
          },
          "401": {
            "description": "Invalid or missing API token."
          },
          "429": {
            "description": "Rate limit exceeded."
          }
        },
        "tags": ["Crypto Logo API"]
      }
    },
    "/brands/{identifier}": {
      "get": {
        "servers": [
          {
            "url": "https://api.logokit.com",
            "description": "API server for brand information"
          }
        ],
        "summary": "Retrieve brand information",
        "description": "Returns comprehensive data about companies, including their address, domain, founding year, and number of employees. Available only for paid plans.",
        "operationId": "getBrandInfo",
        "parameters": [
          {
            "name": "identifier",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "example": "apple.com"
            },
            "description": "The domain or stock ticker for which you want to retrieve brand information. For example, apple.com or AAPL. We support all major stock exchanges worldwide."
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Brand information found and returned as JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "address": {
                      "type": "object",
                      "properties": {
                        "address1": { "type": "string" },
                        "address2": { "type": "string" },
                        "city": { "type": "string" },
                        "state": { "type": "string" },
                        "zip": { "type": "string" },
                        "country": { "type": "string" }
                      }
                    },
                    "domain": { "type": "string" },
                    "founded_year": { "type": "string" },
                    "icon": { "type": "string" },
                    "issued_currency": { "type": "string" },
                    "long_description": { "type": "string" },
                    "name": { "type": "string" },
                    "number_of_employees": { "type": "string" },
                    "short_description": { "type": "string" },
                    "website": { "type": "string" }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Invalid or missing API token."
          },
          "404": {
            "description": "Brand information not found for the specified identifier."
          },
          "429": {
            "description": "Rate limit exceeded."
          }
        },
        "tags": ["Brand API"]
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "Bearer token authentication. You must provide a valid **Secret API token** in the Authorization header of your request. You can find yours in your [account settings](https://logokit.com/account/api-tokens)."
      }
    }
  },
  "tags": [
    {
      "name": "Logo API",
      "description": "Operations for retrieving company logos by domain"
    },
    {
      "name": "Stock Logo API",
      "description": "Operations for retrieving logos by stock ticker symbols"
    },
    {
      "name": "Crypto Logo API",
      "description": "Operations for retrieving logos by cryptocurrency symbols"
    },
    {
      "name": "Brand API",
      "description": "Operations for retrieving comprehensive brand information"
    }
  ],
  "externalDocs": {
    "description": "LogoKit Documentation",
    "url": "https://docs.logokit.com"
  }
}
